<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      $ ¿Cuánto equivale el peso? $
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align:center">$ ¿Cuánto equivale el peso? $</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <br>
    <br>
    <app-my-cambio></app-my-cambio>
    <br>
    <app-my-cambio></app-my-cambio>
    <br>
    <app-my-cambio></app-my-cambio>
  </div>
</ion-content>
